.c-upload + .c-form-controls{
    width: 500px;
    margin-right: spacing('wide');
}

@media (max-width:1024px) {
    .c-form{
        flex-wrap: wrap;
      

    }
    .c-upload + .c-form-controls{
        margin-right: 0;


    }
    
}