


        <ul class="c-actions">
            <li class="c-action">
                <span class="c-action_title">10 طلبات تحتاج الى المعالجة </span>
               <a href="" class="c-btn c-action_link">مشاهد الطلبات</a>

            </li>
            <li class="c-action">
                <span class="c-action_title">  5 رسائل تحتاج الى اجابة</span>
                <a href="" class="c-btn c-action_link">مشاهدة الرسائل</a>
            </li>
            <li class="c-action">
                <span class="c-action_title">3 منتجات ضرورية على وشك النفاذ </span>
                <a href="" class="c-btn c-action_link">مشاهدة المنتجات</a>

            </li>

        </ul>
    
    
