<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner components page</title>
</head>
<body>
    <div class="component-container"> 
        <div class="c-banner">
            <h3 class="c-banner_title">بوابة الدفع عبر بايونينور متاحة </h3>
            <p class="c-banner_desc">
                تم اضافةبوابة الدفع عبر بايونينور لكل متاجر عربى تسطيع ربط حسابك بايونير لتستقبل الاموال عبرها
            </p>
            <a href="#" class="c-btn c-btn--ghost c-banner_action">اكتشف المزيد</a>
            <i class="c-icon c-icon--flag c-banner_icon"></i>
            <i class="c-icon c-icon--cancel-circle c-banner_close"></i>

        </div>

        </div>
    </div>
    
</body>
</html>