<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list components page</title>
    <script type="text/html" src="{require('../index.js')}"></script>
</head>
<body>
    <div class="component-container">
        <div class="c-list">
            <img src="../assets/images/black-shirt.jpg" alt="black-shirt" class="c-list_media">
            <span class="c-list_data"> قميص اسودm</span>
            <span class="c-list_data">على جابر</span>
            <span class="c-list_data">القاهرة-مصر </span>
            <span class="c-list_data">19.99$ </span>
            <div class="c-list_action">
                <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                <a href="#" class="c-btn c-btn--small">تواصل</a>
                <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
            </div>

        </div>
    </div>
    
</body>
</html>