<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>sidebar compontent</title>
</head>
<body>
    <div class="c-sidebar">
        <div class="c-sidebar-control">
            <a href="../index.html" class="c-sidebar_icon c-sidebar_logo c-sidebar_icon--large">
                <svg viewbox="0 0 35 35">
                    <circle cx="17.5" cy="17.5" r="12" fill="transparent" stroke-width="10"> </circle>
                </svg>
            </a>
            <a href="add-product.html" class="c-sidebar_icon"><i class="c-icon c-icon--plus"></i></a>
            <a href="#search" class="c-sidebar_icon"><i class="c-icon c-icon--search"></i></a>
            <a href="#logout" class="c-sidebar_icon"><i class="c-icon c-icon--switch"></i></a>
            <a href="#profile" class="c-sidebar_icon c-sidebar_icon--bottom c-sidebar_icon--large c-sidebar_icon--image">
                <img src="https://i.pravatar.cc/150?img=12">
            </a>
        </div>
        <div class="c-sidebar_menu">
            <h2 class="c-sidebar_title"><a href="index.html">عربى</a></h2>
            <nav class="c-sidbar_navigation">
                <a href="" class="c-sidebar_link">نظرة عامة<i class="c-icon c-icon--equalizer"></i></a>
                <a href="" class="c-sidebar_link">المنتجات <i class="c-icon c-icon--cart"></i></a>
                <a href="" class="c-sidebar_link">المستجدين<i class="c-icon c-icon--users"></i></a>
                <a href="" class="c-sidebar_link">الطلبات<i class="c-icon c-icon--file-text"></i></a>
    
            </nav>
        </div>
        <div class="c-sidbar_backdrop">
    
        </div>
    
    </div>
    
</body>
</html>
