<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary components page</title>
    <script type="text/html" src="{require('../index.js')}"></script>
</head>
<body>
    <div class="component-container">
        <div class="c-summary">
            <div class="c-summary_data">
                <span class="c-summary_value">34</span>
                 <span class="c-summary_key">طلب</span>
            </div>
            <div class="c-summary_data">
                <span class="c-summary_value">1343</span>
                 <span class="c-summary_key">زائر</span>
            </div>
            <div class="c-summary_data">
                <span class="c-summary_value">$3424</span>
                 <span class="c-summary_key">مبيعات</span>
            </div>


        </div>
    </div>
    
</body>
</html>