.c-tabs{
    @include e-card;
    width: 100%;
    overflow-x:auto;
}
.c-tabs__control{
    display: flex;
}
.c-tabs__tab{
    text-align: center;
    padding: spacing()  spacing('small');
    flex-grow: 1;
    border-bottom: 3px solid transparent;
    white-space:pre;
}
.c-tabs__tab.is-active{
    border-color: $color-primary;
}